	* {
	    	font-family: "Roboto";
	}
	a {
		text-decoration: none;
	}
	body {
		background-image: url("background/background_01.png");
	}
	#container {
		height: 350px;
		width: 80%;
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
		margin: auto !important;
		text-align: center;
	}
	#container .box {
		border-radius: 2px;
		height: 100%;
		display: inline-block;
	}
	#container #left_box {
		width: 20%;
		float: left;
	}
	#container #left_box .box_list {
		background: #FFF;
		border-radius: 2px;
		box-shadow: 0px 1px 2px rgba(0,0,0,.1) !important;
		color: #FFF;
		font-family: "Bebas Neue";
		font-size: 16pt;
		font-weight: bold;
		letter-spacing: 1px;
		text-decoration: none;
		height: 14.5%;
		width: 100%;
		margin-bottom: 9px;
		line-height: 51px;
	}
	#container #left_box li {
		position: relative;
		list-style: none;
	}
	#container #center_box {
		background: no-repeat url("illustration/illustration_center_03.png") center !important;
		background-size: cover !important;
		box-shadow: 0px 1px 2px rgba(0,0,0,.1) !important;
		width: 58.5%;
		overflow: hidden;
	}
	#container #center_box #searchbox {
		background: rgba(0,0,0,0);
		border: none;
		color: #FFF;
		font-family: "Roboto" , "ぼくたちのゴシック２ボールド";
		font-size: 14pt;
		font-stretch: condensed;
		line-height: 60px !important;
		height: 60px;
		width: 100%;
		padding: 0px 25px !important;
		margin-top: 400px;
		transition: all .3s ease-in-out !important;
	}
	#container #center_box #searchbox:focus {
		background: rgba(21,21,21,.89);
		transition: all .3s ease-in-out !important;
	}
	#container #right_box {
		background: no-repeat url("illustration/illustration_right_03.png") center;
		background-size: cover;
		border-radius: 2px;
		box-shadow: 0px 1px 2px rgba(0,0,0,.1) !important;
		height: 100%;
		width: 20%;
		float: right;
	}
	#container #right_box #time_box {
		color: #FFF;
		font-family: "Bebas Neue";
		font-size: 30pt;
		font-weight: bold;
		line-height: 100px;
		height: 20%;
		width: 100%;
		margin: 20px auto !important;
	}
	#container #right_box #day_box {
		color: #FFF;
		font-family: "Pacifico";
		font-size: 30pt;
		line-height: 0px;
		text-shadow: 3px 3px rgba(62, 70, 81, .7) !important;
	}
	#container #right_box #social_box {
		width: 100%;
		text-align: center;
		margin-top: 90px;
	}
	#container #right_box #social_box .box_list {
		background-position: center;
		background-repeat: no-repeat;
		background-size: 25px auto;
		border-radius: 2px;
		box-shadow: 0px 1px 2px rgba(0,0,0,.1) !important;
		height: 50px;
		width: 50px;
		display: inline-block;
		list-style: none;
		margin: 0px 5px;
	}

